[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.1"
Flask-Migrate = "==2.5.2"
Flask-SQLAlchemy = "==2.4.0"
Flask-Script = "==2.0.6"
Flask-RESTful = "==0.3.7"
Flask-Cors = "==3.0."
psycopg2 = "==2.8.3"
uWSGI = "==2.0.18"
flask-jwt-extended = "==3.21.0"

[dev-packages]
black = "==19.3b0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[packages.flask-dance]
extras = [ "sqla",]
version = "==2.2.0"
