SECRET_KEY=randomsecretkey
API_HOSTNAME=localhost:8088
POSTGRES_PASSWORD=passwordpassworpasswopasswpasspaspap
POSTGRES_DB=twitch-dccon-manager
POSTGRES_USER=tdm
TWITCH_CLIENT_ID=clientid
TWITCH_CLIENT_SECRET=clientsecret
